.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.game-container {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #f0f8ff;
  overflow: hidden;
}

.basket {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 20px;
  background-color: #8b0000;
  border-radius: 10px;
}

.fruit {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffa07a;
  border-radius: 50%;
  aspect-ratio: 1 / 1; /* 比率を固定 */
}

.controls {
  position: absolute;
  bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: #6a5acd;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #483d8b;
}
